.referrals {
  position: relative;
  min-height: 92vh;
  padding-top: 8rem;
  padding-bottom: 5rem;
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;

  &__title {
    width: 90%;
    font-size: 1.3rem;
    display: flex;
    color: var(--primary-color);
    margin: 5rem auto 4rem auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    &>* {
      display: flex;
      font-size: 1rem;
      flex-direction: column;
      border: 1px solid var(--tertiary-color);

      &>:first-child{
        font-family: 'Poppins-Light';
        color: var(--primary-color);
        padding: 2rem 2rem 0.5rem 2rem;
        
      }
    }

    &--box1 {
      width: 35%;
      padding: 0 2rem;

      &--contents {
        padding-top: 2rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        
        &__data {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 2rem;
          margin-bottom: 2rem;
          
          &>*{
            margin: 0.3rem;
            padding: 0 2rem;
            background-color: var(--secondary-color);
            
          }
            h1 {
              font-size: 5rem;
              color: var(--tertiary-color);
            }
        }
      }
    }
    &--box2 {
      width: 50%;
      padding: 0 2rem;
      &--contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;

        &>*{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 0rem;

          :first-of-type {
            flex-basis: 70%;
            text-align: left;
            align-self: flex-start;
          }
          :last-of-type {
            flex-basis: 30%;
            text-align: left;
            align-self: flex-start;
          }
        }
        .line2 {
          &:not(:nth-of-type(1)){
          margin: 1rem 0 1rem 0;
          }
        }
      }
    }
  }
}
