@import '../../themes/mixins.scss';

// DEPOSIT FUND
.deposit-funds {
  position: relative;
  min-height: 92vh;
  padding-top: 8rem;
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);

  @include respond(screenMenu) {
    padding-top: 7rem;
  }

  @include respond(tabPort) {
    padding-top: 6rem;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__title {
    width: 90%;
    margin-top: 5rem;
    align-self: center;
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 2rem;

    @include respond(screenMenu) {
      font-size: 1.1rem;
    }

    @include respond(tabPort) {
      font-size: 0.9rem;
      width: 95%;
    }

    @include respond(phone) {
      font-size: 0.8rem;
      width: 97%;
    }
  }

  &__box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 2px solid var(--card-color1);
    padding: 2rem;

    @include respond(tabPort) {
      width: 95%;
      padding: 1rem;
    }

    @include respond(phone) {
      width: 97%;
      padding: 0.7rem;
    }

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 1.4rem;
      color: var(--tertiary-color);

      @include respond(tabPort) {
        font-size: 1.2rem;
      }

      @include respond(phone) {
        font-size: 1.1rem;
      }

      &__1 {
        flex-basis: 25%;
      }

      &__2 {
        flex-basis: 25%;
      }

      &__3 {
        flex-basis: 30%;
      }

      &__4 {
        flex-basis: 10%;
      }
    }

    &--content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.3rem;
      color: var(--primary-color);

      .comingSoon {
        background-color: var(--tertiary-color);
      }

      @include respond(tabPort) {
        font-size: 1.2rem;
      }

      @include respond(phone) {
        font-size: 1.1rem;
      }

      &>* {
        img {
          @include respond(tabLand) {
            width: 12rem;
          }

          @include respond(screenMenu) {
            width: 11rem;
          }

          @include respond(tabPort) {
            width: 9rem;
          }

          @include respond(phone) {
            width: 7rem;
          }

        }
      }

      &__1 {
        display: flex;
        flex-basis: 25%;
        flex-shrink: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &>*:first-child {
          padding-right: 2rem;
        }
      }

      &__2 {
        flex-basis: 25%;
      }

      &__3 {
        flex-basis: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }

      &__4 {
        flex-basis: 5%;
        padding: 1rem;
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
        text-decoration: none;

        @include respond(tabPort) {
          padding: 0.5rem 1rem;
        }

        @include respond(phone) {
          padding: 0.3rem 0.7rem;
        }
      }
    }

    &:not(:nth-of-type(6)) {
      margin-bottom: 2rem;
    }

    h1 {
      align-self: start;
      font-size: 2rem;

      @include respond(screenMenu) {
        font-size: 1.8rem;
      }

      @include respond(tabPort) {
        font-size: 1.6rem;
      }

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__bottom {
    // font-size: 1.1rem ;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: start;
    align-self: center;
    color: var(--tertiary-color);

    @include respond(tabPort) {
      font-size: 0.9rem;
    }

    @include respond(phone) {
      font-size: 0.85rem;
    }
  }
}



// DEPOSIT

.deposit {
  position: relative;
  min-height: 93vh;
  padding-top: 8rem;
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);

  a {
    display: block;
  }

  @include respond(screenMenu) {
    padding-top: 7rem;
  }

  @include respond(tabPort) {
    padding-top: 6rem;
  }

  @include respond(phone) {
    width: 85%;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 3rem 0 1rem 0;
    align-self: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: start;
    color: var(--primary-color);

    @include respond(screenMenu) {
      margin: 4rem 0 3rem 0;
      font-size: 1.1rem;
    }

    @include respond(tabPort) {
      margin: 3rem 0 2rem 0;
      font-size: 0.9rem;
    }

    @include respond(phone) {
      margin: 2rem 0 1rem 0;
      font-size: 0.7rem;
    }

    p {
      font-family: "Montserrat-Regular";

      @include respond(phone) {
        font-size: 0.85rem;

      }
    }

    div {
      background-color: var(--card-color3);
      text-align: center;
      word-wrap: break-word;
      width: 20rem;
      align-self: flex-end;
      padding: 1rem;

      @include respond(phone) {
        padding: 0.5rem;
        width: 15rem;
      }
    }
  }

  &__link {
    margin-bottom: 3rem;

    @include respond(phone) {
      margin-bottom: 0rem;
      margin-left: 1rem;
    }
  }

  &__content {
    width: 90%;
    margin: 3rem 0 1rem 0;
    align-self: center;
    font-size: 1.3rem;
    text-align: start;

    @include respond(phone) {
      margin: 1rem 0 1rem 0;
    }

    &__img {
      width: 90%;
      align-self: center;
      align-items: flex-start;
      display: flex;
      flex-direction: row;

      img {
        @include respond(tabPort) {
          width: 15rem;
        }

        @include respond(phone) {
          width: 12rem;
        }
      }
    }

    &__form {
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 3rem;
      margin-bottom: 3rem;

      &--box {
        font-size: 1.5rem;

        @include respond(screenMenu) {
          font-size: 1.4rem;
        }

        @include respond(tabPort) {
          font-size: 1.2rem;
        }

        @include respond(phone) {
          font-size: 1.1rem;
        }

        &__title {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem;
          align-items: center;
          color: var(--tertiary-color);

          @include respond(phone) {
            width: 90%;
          }

          div {
            margin-left: 0.5rem;
            background-color: var(--tertiary-color1);
            font-size: 1.2rem;
            font-family: Prata-Regular;
            font-weight: 900;
            text-align: center;
            border-radius: 50%;
            line-height: 1.5rem;
            width: 1.3rem;
            height: 1.3rem;
            color: white;
          }
        }

        input {
          font-size: 1.5rem;
          height: 3rem;
          width: 30rem;
          border: 0.1rem solid var(--card-color2);
          padding: 1rem;
          margin-bottom: 3rem;

          @include respond(screenMenu) {
            font-size: 1.4rem;
            width: 27rem;
          }

          @include respond(tabPort) {
            font-size: 1.3rem;
            width: 26rem;
          }

          @include respond(phone) {
            font-size: 1.2rem;
            width: 23rem;
          }
        }

        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: var(--accordion-color1);
          opacity: 1;
          /* Firefox */
        }

      }
    }

    &__text {
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;

      p {
        text-align: start;
        align-content: flex-start;
        width: 80%;
      }
    }

    &__btn {
      width: 90%;
      display: flex;
      align-self: center;
      margin: 3rem 0 5rem 0;
      color: white;

      @include respond(tabPort) {
        margin: 2rem 0 3rem 0;
      }

      button {
        padding: 0;
      }

      p {
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
        background-color: var(--primary-color);

        @include respond(screenMenu) {
          font-size: 1.3rem;
        }

        @include respond(tabPort) {
          font-size: 1.1rem;
        }
      }
    }
  }
}





// PAY

.pay {
  position: relative;
  min-height: 70vh;
  // padding-top: 3rem;
  padding-bottom: 5rem;
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);

  @include respond(phone) {
    width: 95%;
  }

  &__box {
    // border: 1px solid var(--primary-color);
    background-color: rgb(248, 248, 248);
    padding: 2rem 0;

    &__contents {
      display: flex;
      flex-direction: column;

      // width: 30rem;

      &--data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__content {
          display: flex;
          flex-direction: row;
          // align-items: center;
          justify-content: center;
          // text-align: start;
          // align-self: center;
          // text-align: center;

          p {
            @include respond(tabPort) {
              font-size: 1.3rem;
            }

            @include respond(phone) {
              font-size: 1.1rem;
            }
          }

          &>* {
            flex: 1;
            padding: 1rem 10rem;
            text-align: start;
            font-size: 1.5rem;

            @include respond(screenMenu) {
              padding: 1rem 6rem;
            }

            @include respond(tabPort) {
              padding: 1rem 2.5rem;
            }

            &:first-child {
              font-weight: 600;
            }
          }
        }
      }
    }

    &__btn {
      display: inline-block;
      width: 30rem !important;
    }
  }

  .hide {
    display: none;
  }

  .stage-begin {
    margin-top: 1rem;
    cursor: pointer;

    img {
      width: 30%;

      @include respond(phone) {
        width: 25%;
      }
    }
  }

  .stage-paid {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      display: block;
      color: #5cb85c;
      font-size: 2rem;
      padding: 1rem 0;

      @include respond(tabPort) {
        font-size: 1.6rem;
      }

      @include respond(tabPort) {
        font-size: 1.4rem;
      }
    }

    p {
      b {
        color: var(--secondary-color)
      }

      @include respond(tabPort) {
        font-size: 1.2rem;
      }

      @include respond(tabPort) {
        font-size: 1.1rem;
      }
    }

    img {
      width: 40%;

      @include respond(tabPort) {
        width: 30%;
      }

      @include respond(phone) {
        width: 25%;
      }
    }
  }

  .stage-loading {
    img {
      width: 40%;
    }
  }
}