.referral {
  width: 70%;
  margin: 5rem auto 0rem auto;
  border: 2px solid var(--card-color1);


  &--top {
    background-image: url('../../assets/img/referImg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
      color: white;
      background-color: #C9271A;
      width: 53%;
      padding: 2rem 1rem 2rem 3rem;
      text-align: left;

      h1 {
        font-size: 2.3rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  &--bottom {
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: 1.8rem;
      color: var(--tertiary-color);
    }

    &__form {
      display: flex;
      flex-direction: row;
      //  width: 60%;


      input {
        height: 100%;
        width: 35rem;
        padding: 1rem;
        border: 1px solid gray;
      }

      div {
        padding: 1rem;
        color: white;
        background-color: var(--primary-color);
        cursor: pointer;
      }

    }

  }
}