/* Ripple effect */

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  cursor: pointer;
  background: var(--transparent-color1) radial-gradient(circle, transparent 1%, var(--transparent-color1) 1%) center/15000%;
}

.ripple:active {
  background-color: var(--transparent-color1);
  background-size: 100%;
  transition: background 0s;
}


.ripple1 {
  background-position: center;
  transition: background 0.8s;
}

.ripple1:hover {
  cursor: pointer;
  background: var(--primary-color-1) radial-gradient(circle, transparent 1%, var(--primary-color) 1%) center/15000%;
}

.ripple1:active {
  background-color: var(--primary-color-1);
  background-size: 100%;
  transition: background 0s;
}

.ripple2 {
  background-position: center;
  transition: background 0.8s;
}

.ripple2:hover {
  cursor: pointer;
  background: var(--secondary-color-1) radial-gradient(circle, transparent 1%, var(--secondary-color) 1%) center/15000%;
}

.ripple2:active {
  background-color: var(--secondary-color-1);
  background-size: 100%;
  transition: background 0s;
}



/* Material style */
button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  // background: #2196F3;
}

/* Ripple magic */
button {
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}