@import '../../themes/mixins.scss';

.footer {
  position: absolute;
  background-color: var(--primary-color);
  right: 0;
  bottom: 1;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 1.6rem;

  &__content {
    font-family: 'Poppins-Light';
    padding: 1.5rem;

    h1 {
      font-size: 1.6rem;
      text-transform: uppercase;

      @include respond(tabLand) {
        font-size: 1.5rem;
      }

      @include respond(tabPort) {
        font-size: 1.4rem;
      }
    }

    p {
      font-size: 1.2rem;

      @include respond(tabLand) {
        font-size: 1.1rem;
      }

      @include respond(tabPort) {
        font-size: 1rem;
      }
    }
  }
}