@import '../../themes/mixins.scss';

.investment {
  position: relative;
  min-height: 92vh;
  padding-top: 8rem;
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;

  @include respond(screenMenu) {
    padding-top: 7rem;
  }

  @include respond(tabPort) {
    padding-top: 6rem;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__title {
    width: 90%;
    font-size: 1.3rem;
    display: flex;
    color: var(--primary-color);
    margin: 5rem auto 4rem auto;

    @include respond(screenMenu) {
      font-size: 1.1rem;
    }

    @include respond(tabPort) {
      font-size: 0.9rem;
      margin: 3rem auto 2rem auto;
      width: 95%;
    }

    @include respond(phone) {
      font-size: 0.8rem;
      margin: 3rem auto 0rem auto;
      width: 97%;
      justify-content: center;
    }
  }

  &__bottom {
    width: 90%;
    font-size: 1.3rem;
    display: flex;
    color: var(--tertiary-color);
    margin: 0 auto 4rem auto;

    @include respond(screenMenu) {
      font-size: 1.2rem;
    }

    @include respond(tabPort) {
      width: 95%;
    }

    @include respond(phone) {
      font-size: 1.1rem;
      width: 90%;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // flex-wrap: wrap;
    margin: 0rem auto 5rem auto;
    padding: 2rem 0;
    width: 90%;

    @include respond(tabLand) {
      width: 100%;
      margin: 0rem auto 10rem auto;
      padding: 2rem 0;
      justify-content: space-between;
    }

    @include respond(tabPort) {
      width: 95%;
      margin: 0rem auto 0rem auto;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    @include respond(phone) {
      margin: 0rem auto 0rem auto;
      width: 97%;
    }

    // background-color: whitesmoke;
    &>* {
      margin: 0 1rem;
    }

    &--box {
      width: 30%;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.5rem 1rem rgba(gray, 0.3);

      @include respond(tabPort) {
        width: 45%;
        margin: 1rem 0;
      }

      @include respond(phone) {
        width: 75%;
        margin: 1rem 0;
      }

      &:nth-child(2n+1) {
        margin-top: 4rem;

        @include respond(tabPort) {
          margin-top: 1rem;
        }

        @include respond(phone) {
          margin-top: 1rem;
        }
      }

      &:nth-child(2) {
        width: 35%;

        @include respond(tabPort) {
          width: 45%;
          margin: 1rem 0;
        }

        @include respond(phone) {
          width: 75%;
          margin: 1rem 0;
        }
      }

      &:nth-child(2) &__header {
        height: 25rem;

        @include respond(tabPort) {
          height: 20rem;
        }

        @include respond(phone) {
          height: 20rem;
        }

        h1 {
          font-size: 3rem;

          @include respond(screenMenu) {
            font-size: 2.2rem;
          }

          @include respond(tabPort) {
            font-size: 2rem;
          }

          @include respond(phone) {
            font-size: 1.9rem;
          }
        }

        div {
          p {
            font-size: 2.5rem;

            @include respond(screenMenu) {
              font-size: 1.8rem;
            }

            @include respond(tabPort) {
              font-size: 1.6rem;
            }

            @include respond(phone) {
              font-size: 1.4rem;
            }
          }
        }
      }

      &:nth-child(2) &__content {
        margin: 2.5rem 0 2rem 0;
        font-size: 1.6rem;

        @include respond(tabPort) {
          margin: 2rem 0 1rem 0;
          font-size: 1.3rem;
        }

        @include respond(phone) {
          margin: 2rem 0 1rem 0;
          font-size: 1rem;
        }
      }

      &__header {
        height: 20rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



        h1 {
          color: white;
          font-size: 2.5rem;
          text-transform: uppercase;
          text-align: center;
          padding: 3.5rem 2.5rem 0 2.5rem;

          @include respond(screenMenu) {
            font-size: 2.2rem;
          }

          @include respond(tabPort) {
            font-size: 2rem;
          }

          @include respond(phone) {
            font-size: 1.9rem;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-right: 2rem;

          p {
            font-family: Poppins-medium;
            font-size: 2.1rem;

            @include respond(screenMenu) {
              font-size: 1.8rem;
            }

            @include respond(tabPort) {
              font-size: 1.6rem;
            }

            @include respond(phone) {
              font-size: 1.4rem;
            }
          }
        }
      }

      &__content {
        margin: 2rem 0 1rem 0;
        font-size: 1.4rem;

        @include respond(tabPort) {
          font-size: 1.3rem;
        }

        @include respond(phone) {
          font-size: 1rem;
        }

        &--list {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          background-color: white;
          margin: 0 3rem;
          padding: 1rem;

          @include respond(tabPort) {
            margin: 0 1.5rem;
          }

          @include respond(phone) {
            margin: 0 1rem;
          }

          &:nth-of-type(2n+1) {
            background: var(--card-color);
          }

          i {
            color: #388E02;
            font-size: 2rem;
            align-self: center;
            margin-right: 1.5rem;

            @include respond(tabLand) {
              font-size: 1.7rem;
            }

            @include respond(tabPort) {
              font-size: 1.6rem;
            }

            @include respond(phone) {
              font-size: 1.5rem;
            }
          }
        }
      }

      &__btn {
        text-align: center;
        margin: 0.5rem 3.5rem;
        padding-bottom: 1rem;

        @include respond(screenMenu) {
          margin: 0.5rem 3rem;
        }

        @include respond(tabPort) {
          margin: 0.5rem 3.5rem;
        }

        a {
          text-decoration: none;
        }

        p {
          padding: 1rem;
          color: white;
          background-color: var(--secondary-color);
          font-size: 1.6rem;

          @include respond(screeMenu) {
            font-size: 1.5rem;
            padding: 0.8rem;
          }

          @include respond(tabPort) {
            font-size: 1.4rem;
            padding: 0.6rem;
          }

          @include respond(phone) {
            font-size: 1.3rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

// INVEST

.invest {
  position: relative;
  min-height: 93vh;
  padding-top: 8rem;
  width: 80%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);

  a {
    display: block;
  }

  @include respond(screenMenu) {
    padding-top: 7rem;
  }

  @include respond(tabPort) {
    padding-top: 6rem;
  }

  @include respond(phone) {
    width: 85%;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 3rem 0 1rem 0;
    align-self: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: start;
    color: var(--primary-color);

    @include respond(screenMenu) {
      margin: 4rem 0 3rem 0;
      font-size: 1.1rem;
    }

    @include respond(tabPort) {
      margin: 3rem 0 2rem 0;
      font-size: 0.9rem;
    }

    @include respond(phone) {
      margin: 2rem 0 1rem 0;
      font-size: 0.7rem;
    }

    p {
      font-family: "Montserrat-Regular";

      @include respond(phone) {
        font-size: 0.85rem;

      }
    }

    div {
      background-color: var(--card-color3);
      text-align: center;
      word-wrap: break-word;
      width: 20rem;
      align-self: flex-end;
      padding: 1rem;

      @include respond(phone) {
        padding: 0.5rem;
        width: 15rem;
      }
    }
  }

  &__link {
    margin-bottom: 3rem;

    @include respond(phone) {
      margin-bottom: 0rem;
      margin-left: 1rem;
    }
  }

  &__content {
    width: 90%;
    margin: 3rem 0 1rem 0;
    align-self: center;
    font-size: 1.3rem;
    text-align: start;

    @include respond(phone) {
      margin: 1rem 0 1rem 0;
    }

    &__img {
      align-self: center;
      align-items: flex-start;
      display: flex;
      flex-direction: row;

      img {
        width: 10rem;

        @include respond(tabLand) {
          width: 9rem;
        }

        @include respond(tabPort) {
          width: 8rem;
        }

        @include respond(phone) {
          width: 6rem;
        }
      }
    }

    &__form {
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 3rem;
      margin-bottom: 3rem;

      &--box {
        font-size: 1.5rem;

        @include respond(screenMenu) {
          font-size: 1.4rem;
        }

        @include respond(tabPort) {
          font-size: 1.2rem;
        }

        @include respond(phone) {
          font-size: 1.1rem;
        }

        &__title {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem;
          align-items: center;
          color: var(--tertiary-color);

          @include respond(phone) {
            width: 90%;
          }

          div {
            margin-left: 0.5rem;
            background-color: var(--tertiary-color1);
            font-size: 1.2rem;
            font-family: Prata-Regular;
            font-weight: 900;
            text-align: center;
            border-radius: 50%;
            line-height: 1.5rem;
            width: 1.3rem;
            height: 1.3rem;
            color: white;
          }
        }

        input {
          font-size: 1.5rem;
          height: 3rem;
          width: 30rem;
          border: 0.1rem solid var(--card-color2);
          padding: 1rem;
          margin-bottom: 3rem;
          text-transform: capitalize;

          @include respond(screenMenu) {
            font-size: 1.4rem;
            width: 27rem;
          }

          @include respond(tabPort) {
            font-size: 1.3rem;
            width: 26rem;
          }

          @include respond(phone) {
            font-size: 1.2rem;
            width: 23rem;
          }
        }

        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: var(--accordion-color1);
          opacity: 1;
          /* Firefox */
        }


        select {
          font-size: 1.5rem;
          width: 30rem;
          border: 0.1rem solid var(--card-color2);
          background-color: white;
          padding: 1rem;
          margin-bottom: 3rem;

          @include respond(screenMenu) {
            font-size: 1.4rem;
            width: 27rem;
          }

          @include respond(tabPort) {
            font-size: 1.3rem;
            width: 26rem;
          }

          @include respond(phone) {
            font-size: 1.2rem;
            width: 23rem;
          }

          &:focus {
            outline: none;
          }

          option {
            &:focus {
              outline: none;
            }
          }
        }

        // ::placeholder {
        //   /* Chrome, Firefox, Opera, Safari 10.1+ */
        //   color: var(--accordion-color1);
        //   opacity: 1;
        //   /* Firefox */
        // }

      }
    }

    &__text {
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;

      p {
        text-align: start;
        align-content: flex-start;
        width: 80%;
      }
    }

    &__btn {
      width: 90%;
      display: flex;
      align-self: center;
      margin: 3rem 0 5rem 0;
      color: white;

      @include respond(tabPort) {
        margin: 2rem 0 3rem 0;
      }

      button {
        padding: 0;
      }

      p {
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
        background-color: var(--primary-color);

        @include respond(screenMenu) {
          font-size: 1.3rem;
        }

        @include respond(tabPort) {
          font-size: 1.1rem;
        }
      }
    }
  }
}


// CONFIRM

.confirm {
  position: relative;
  min-height: 70vh;
  // padding-top: 3rem;
  padding-bottom: 5rem;
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  word-wrap: break-word;
  // overflow: hidden;

  @include respond(phone) {
    width: 95%;
  }

  &__box {
    // border: 1px solid var(--primary-color);
    background-color: rgb(248, 248, 248);
    padding: 2rem 0;

    &__contents {
      display: flex;
      flex-direction: column;

      // width: 30rem;

      &--data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__content {
          display: flex;
          flex-direction: row;
          // align-items: center;
          justify-content: center;
          // text-align: start;
          // align-self: center;
          // text-align: center;

          p {
            word-break: break-all;

            @include respond(tabPort) {
              font-size: 1.3rem;
            }

            @include respond(phone) {
              font-size: 1.1rem;
            }
          }

          &>* {
            flex: 1;
            padding: 1rem 10rem;
            text-align: start;
            font-size: 1.5rem;

            @include respond(screenMenu) {
              padding: 1rem 6rem;
            }

            @include respond(tabPort) {
              padding: 1rem 2.5rem;
            }

            &:first-child {
              font-weight: 600;
            }
          }
        }
      }
    }

    &__data {
      display: inline-block;
      // font-size: 1rem;

      // width: 30rem !important;
      h1 {
        color: #4BB543;

        @include respond(tabLand) {
          font-size: 1.5rem;
        }

        @include respond(tabPort) {
          font-size: 1.4rem;
        }

        @include respond(phone) {
          font-size: 1.2rem;
        }
      }

      p {
        @include respond(tabLand) {
          font-size: 1.5rem;
        }

        @include respond(tabPort) {
          font-size: 1.4rem;
        }

        @include respond(phone) {
          font-size: 1.2rem;
        }
      }

      img {
        width: 35%;

        @include respond(tabLand) {
          width: 30%;
        }

        @include respond(tabPort) {
          width: 25%;
        }

        @include respond(phone) {
          width: 20%;
        }
      }

    }
  }

  .loader {

    img {
      width: 7%;

      @include respond(tabPort) {
        width: 15%;
      }
    }
  }

  button {
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    // padding: 0;
    padding: 0.8rem 1.5rem;

    i {
      padding-left: 1rem;
    }

    @include respond(tabPort) {
      padding: 0.8rem 1.5rem;
      font-size: 1.4rem;

      i {
        padding-left: 0.5rem;
      }
    }

    @include respond(phone) {
      padding: 0.5rem 1.3rem;
      font-size: 1.2rem;

      i {
        padding-left: 0.3rem;
      }
    }
  }
}