.main-nav {
  position: fixed;
  background-color: var(--primary-color);
  color: white;
  width: 20%;
  height: 100%;

  &__top {
    font-size: 3rem;
    padding: 2rem;
    background-color: var(--secondary-color);
  }

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    // flex-wrap: wrap;
    // padding: 0 2rem;

    &>* {
       margin: 0 0.5rem;
    }

    &--image {
      width: 7rem;
      height: 7rem;
      border-radius: 5rem;
      position: relative;

      img {
        width: 7rem;
      }
      .dot {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        bottom: 0.5rem;
        border-radius: 50%;
        right: 0.5rem;
        background-color: rgb(5, 250, 5);
      }
    }
    &--info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      h1 {
        font-size: 1.6rem;
      }
      p{
        font-size: 1.3rem;
      }
    }
  }

  &__list {
    height: 100%;
    margin-top: 3rem;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    ul {
      // display: inline-flex;
      flex-direction: column;

      
    }

    /* Transition Borders */
    li {
      
      text-align: start;
      padding: 1rem 5rem;
      &:hover {
        display: block;
        background-color: rgba(0, 0, 0, 0.349);
        border-left: 0.3rem solid white;
        cursor: pointer;
      }
      

      &:not(:first-child) {
        // margin-top: 2rem;
        margin-top: 9rem;
      }

      .list {
        margin-top: 2rem;
      }
    }

    a {
      &>* {
        margin-top: 1rem;
      }
      text-decoration: none;
      color: #fff;
      
    }

    .active {
      display: block;
      color: var(--secondary-color);
      background-color: rgba(0, 0, 0, 0.349);
      border-left: 0.3rem solid var(--secondary-color);
    }
  }
}