@import '../../themes/mixins.scss';

.auth-loader {
  position: relative;
  width: 100%;
  height: 100vh;
  // background-color: var(--tertiary-color);
  // .texts {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   margin: 10px 0 0 -95px;
  //   color: var(--primary-color);
  // }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10px 0 0 -50px;
    color: var(--primary-color);
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    // height: 120px;
    margin: -70px 0 0 -25px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    z-index: 2;

    @include respond(phone) {
      width: 5rem;
    }
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}